<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crime Type</title>
</head>
<body data-ng-app="app" ng-controller="crimeType_Ctrl">

<form class="col-md-4">
    <div class="form-group">
        <label style="font-family: Calibri;color: floralwhite">Enter Year</label>
        <input id="year" ng-model="sw.year" type="number" class="form-control" title="year">
    </div>
    <button class="btn btn-primary" data-ng-click = "crime_TypeCtrl(sw)"> click to get results</button>
    <h3 style="font-family: Calibri;color: red">{{crime_TypeCtrlDataError}}</h3>
    <table class="table table-striped text-center text-danger">
        <thead class="text-center">
        <tr>
            <th class="text-center">Description</th>
            <th class="text-center">No. Of Records</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="x in crime_TypeCtrlData">
            <td>{{x.Description}}</td>
            <td>{{x.count_report_no}}</td>
        </tr>
        </tbody>
    </table>
</form>
<div class="col-md-8">
    <div id="chart2_div" style="height: 500px;"></div>
</div>
</body>
</html>