<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Age</title>
</head>
<body data-ng-app="app" ng-controller="age_Ctrl">

<form class="col-md-4">
    <div class="form-group">
        <label style="font-family: Calibri;color: floralwhite">Enter Year</label>
        <input id="year" ng-model="sw.year" type="number" class="form-control" title="year">
    </div>
    <div class="form-group">
        <label style="font-family: Calibri;color: floralwhite">Select Age</label>
        <select class="form-control custom-select" title="Age" ng-model="sw.age">
            <option value="%20between%200%20and%2021">b/w 0 and 21</option>
            <option value="%20between%2022%20and%2040">b/w 22 and 40</option>
            <option value=">40"> > 40</option>
        </select>
    </div>
    <button class="btn btn-primary" data-ng-click = "Age(sw)"> click to get results</button>
    <h3 style="font-family: Calibri;color: floralwhite"> Number of Records for selected year and Age : {{ageData}}</h3>
</form>
<div class="col-md-8">
    <div id="chart2_div" style="height: 500px;"></div>
</div>
</body>
</html>